<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foo Bar</title>
</head>

<body>
	<h1>Drinks</h1>

	<ul>
		<% for (let drink in drinks) { %>
		<li>
			<a href="/drinks/<%=drink%> "> <%= drinks[drink].name[0].toUpperCase() + drinks[drink].name.slice(1) %> </a>
		</li>
		<% } %>
	</ul>
</body>
</html>