<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body>
	<h1>Drinks At Foo Bar</h1>
	<h2><%= drinksId.name[0].toUpperCase() + drinksId.name.slice(1) %></h2>
	<p><img src="<%= drinksId.image %>"/> </p>
	<h3>Price: $<%= drinksId.price %> </h3>
	
</body>
</html>