<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body>
	<h1>Foods</h1>
	<ul>
		<% for( let food in foods) { %>
		<li>
			<a href="/foods/<%= food %>">
				<%= foods[food].name  %> 
			</a>
		</li>
		<% } %>
	</ul>

	<footer>
		<div><a href="/">Back to Homepage</a></div>
	</footer>
</body>
</html>